img{width: 200px;
    height: 200px;
    border: solid;
    margin: auto;
    display: block;
border-radius: 200px;}

a{font-size: 20px;}

.topo{float: top;
background-color: rgb(4, 100, 4);
border: solid;
width: 1407;}

h1{font-family: 'Times New Roman';
font-size: 50px;
text-align: center;
margin: auto;}

.esquerdo{background-color: rgb(222, 247, 186);
float: left;
width: 350px;
height: 692px;
padding: 10px 10px 10px 10px;
border: solid;
margin: auto;}

.direito{background-color: white;
    float: right;
    margin: auto;
    border: solid;
    padding: 10px 10px 10px 10px;
    width: 1057px;}

.bio{font-size: 20px;}

.escolar{font-size: 20px;}

.trabalho{font-size: 20px;}

.dados{font-size: 20px;}

.link{font-size: 20px;}

.objetivo2{font-size: 20px;}